.authorization__button {
    background-color: #fff;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 14px 0 14px;
    margin: 180px 0 0;
    opacity: 100%;
    transition: 0.5s opacity linear 0s;
    cursor: pointer;
}

.authorization__button:hover {
    opacity: 85%;
}

@media screen and (max-width: 320px) {
    .authorization__button {
        font-size: 16px;
        margin-top: 138px;
    }
}