.header__link {
    text-decoration: none;
    color: #fff;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 100%;
    transition: 0.5s opacity linear 0s;
}

.header__link:hover {
    opacity: 60%;
}

@media screen and (max-width: 320px) {
    .header__link{
        font-size: 14px;
        line-height: normal;
    }
}