.popup-tooltip__text {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: normal;
    margin: 0 36px 60px;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 724px) {
    .popup-tooltip__text {
        font-size: 20px;
        margin: 0 18px 50px;
    }
}